<div class="crypto-compare-isolated">
  <div data-test-crypto-compare-isolated-from-currency>From: {{content.fromCryptoCurrency}}</div>
  <div data-test-crypto-compare-isolated-to-currency>To: {{content.toFiatCurrency}}</div>
  <div data-test-crypto-compare-isolated-cents>To: {{content.cents}} cents</div>
  <div data-test-crypto-compare-isolated-date>Date: {{content.gmtDate}}</div>
</div>
