.portfolio-isolated {
  --portfolio-isolated-header-gradient: linear-gradient(45deg, #365480 0%, #543280 100%), #444480;
}

.portfolio-isolated__header {
  background: var(--portfolio-isolated-header-gradient);
  color: var(--portfolio-white);
}

.portfolio-isolated__header-inner-wrapper {
  max-width: var(--portfolio-isolated-container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 50px 25px 0;
}

.portfolio-isolated__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.portfolio-isolated__title {
  margin: 0;
  padding: 10px 0;
  color: var(--portfolio-white);
  font-weight: normal;
  font-family: var(--portfolio-regular-text);
  font-size: 32px;
  letter-spacing: -0.2px;
  line-height: 1.1;
}

.portfolio-isolated__title-icon {
  display: inline-block;
  margin-right: 10px;
  fill: var(--portfolio-white);
  vertical-align: text-top;
}

.portfolio-isolated__info-button {
  background: none;
  border: none;
}

.portfolio-isolated__summary {
  text-align: right;
}
.portfolio-isolated__summary-count {
  font-size: var(--portfolio-xs-font);
  padding-bottom: 6px;
}
.portfolio-isolated__summary-value {
  font-weight: 700;
  font-family: var(--portfolio-bold-text);
  font-size: var(--portfolio-xl-font);
  letter-spacing: 0.1px;
  line-height: 1.1;
  text-align: right;
}

.portfolio-isolated__section {
  padding-bottom: 25px;
}

.portfolio-isolated-filters {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 80%;
  list-style-type: none;
}
.portfolio-isolated-filters[max-width~="679px"] {
  width: 100%;
}

.portfolio-isolated-filters__label {
  width: 200px;
  padding: 10px;
  color: var(--portfolio-white);
  font-size: var(--portfolio-xs-font);
  letter-spacing: 0;
  line-height: 1.4;
  white-space: nowrap;
}

.portfolio-isolated-filters__item {
  display: inline-block;
  width: 200px;
  padding: 10px;
  border-bottom: 4px solid transparent;
  color: rgba(255, 255, 255, 0.5);
  font-size: var(--portfolio-med-font);
  text-align: center;
  text-decoration: none;
}
.portfolio-isolated-filters__item.active,
.portfolio-isolated-filters__item:hover,
.portfolio-isolated-filters__item:focus {
  border-color: var(--portfolio-white);
  color: var(--portfolio-white);
  font-weight: 700;
  font-family: var(--portfolio-bold-text);
  cursor: pointer;
  user-select: none;
}

.portfolio-isolated__main {
  max-width: var(--portfolio-isolated-container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 25px 30px 75px;
}

.portfolio-isolated__main-title {
  margin: 0;
  padding-bottom: 25px;
  font-family: var(--portfolio-regular-text);
  font-size: var(--portfolio-med-font);
  font-weight: normal;
  letter-spacing: -0.1px;
  line-height: 1.1;
}
