<div class="portfolio-isolated">
  <h1 class="portfolio-isolated__title" data-test-portfolio-isolated-title>{{content.title}}</h1>
  {{#each content.wallets as |wallet index|}}
    <div data-test-portfolio-isolated-wallet={{index}}>
      {{cardstack-content content=wallet format="embedded"}}
    </div>
  {{/each}}
</div>
