<div class="asset-history-embedded">
  {{!-- TODO we should set a placeholder here so that when chart appears it is not too jarring --}}
  {{high-charts mode='StockChart' chartOptions=chartOptions content=chartData}}
</div>
