.login-form {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: var(--portfolio-white);
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35);
}

.login-form__title {
  margin: 0;
  font-size: var(--portfolio-xl-font);
  font-weight: normal;
  letter-spacing: -0.1px;
  text-align: center;
}

.login-form__error {
  margin: 0;
  padding-top: 30px;
  color: var(--portfolio-red);
  text-align: center;
}

.login-form__form {
  padding-top: 30px;
  padding-bottom: 15px;
}

.login-form__form-row {
  letter-spacing: 0.2px;
}
.login-form__form-row + .login-form__form-row {
  padding-top: 15px;
}

.login-form__label {
  display: block;
  line-height: 2;
}

.login-form__input {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--portfolio-off-white);
  border: 1px solid var(--portfolio-border-gray);
  border-radius: 5px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  font-size: var(--portfolio-sm-font);
}
.login-form__input:focus {
  outline: none;
  border-color: var(--portfolio-purple-gray);
}

.login-form__button-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.login-form__button-or {
  padding: 20px;
  color: var(--portfolio-muted-gray);
  font-size: var(--portfolio-xs-font);
}

.login-form__button {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--portfolio-dark-purple);
  color: var(--portfolio-white);
}
.login-form__button:hover,
.login-form__button:focus {
  outline: none;
  background-color: var(--portfolio-highlight-purple);
  cursor: pointer;
  user-select: none;
}
.login-form__button.disabled {
  background-color: var(--portfolio-highlight-purple);
  color: var(--portfolio-off-white);
  cursor: not-allowed;
}

.login-form__button--create {
  border: 1px solid var(--portfolio-darker-border-gray);
  background-color: var(--portfolio-white);
  color: var(--portfolio-black);
}
.login-form__button--create:hover,
.login-form__button--create:focus {
  background-color: var(--portfolio-white);
  border-color: var(--portfolio-border-highlight-gray);
}
