.wallet-embedded {
  --wallet-embedded-logo-size: 45px;

  display: block;
  text-decoration: none;
  background-color: var(--portfolio-white);
  color: var(--portfolio-black);
  border: 1px solid var(--portfolio-border-gray);
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 35%);
  font-size: var(--portfolio-sm-font);
  letter-spacing: 0.2px;
}
.wallet-embedded:hover,
.wallet-embedded:focus {
  outline: none;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 25%);
}

.wallet-embedded__header {
  padding: 10px 15px;
  font-size: var(--portfolio-xs-font);
  color: var(--portfolio-light-purple);
  text-align: right;
}

.wallet-embedded__main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px 15px 40px;
}

.wallet-embedded__logo {
  width: var(--wallet-embedded-logo-size);
  height: var(--wallet-embedded-logo-size);
  margin-right: 10px;
}

.wallet-embedded__title {
  width: calc(100% - (var(--wallet-embedded-logo-size) + 10px));
  margin: 0;
  font-weight: 400;
  font-family: var(--portfolio-regular-text);
  font-size: var(--portfolio-med-font);
  letter-spacing: 0.2px;
  line-height: 1;
}

.wallet-embedded__footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: var(--portfolio-light-gray);
  border: none;
  border-radius: 0 0 5px 5px;
  font-size: var(--portfolio-xs-font);
}

.wallet-embedded__label {
  color: var(--portfolio-light-purple);
}

.wallet-embedded__value {
  color: var(--portfolio-green);
  font-weight: 700;
  font-family: var(--portfolio-semibold-text);
}
