.wallet-embedded {
  padding: 30px;
  background-color: var(--portfolio-white);
  border: 1px solid var(--portfolio-border-gray);
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35);
  font-size: var(--portfolio-sm-font);
  letter-spacing: 0.2px;
}

.wallet-embedded__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.wallet-embedded__heading {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: var(--portfolio-black);
  text-decoration: none;
}

.wallet-embedded__logo {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  padding: 10px;
  border: 1px solid var(--portfolio-border-gray);
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.wallet-embedded__title {
  margin: 0;
  padding-bottom: 6px;
  font-size: var(--portfolio-xl-font);
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 1;
}

.wallet-embedded__details {
  display: inline-block;
  padding-right: 15px;
  vertical-align: middle;
  color: var(--portfolio-muted-gray);
  font-size: var(--portfolio-xs-font);
  background-image: url("/portfolio-common/images/chevron-right.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
}
.wallet-embedded__details:hover {
  color: var(--portfolio-black);
}

.wallet-embedded__info-button {
  background: none;
  border: none;
}

.wallet-embedded__summary {
  text-align: right;
}
.wallet-embedded__summary-count {
  color: var(--portfolio-muted-gray);
  font-size: var(--portfolio-xs-font);
  padding-bottom: 6px;
}
.wallet-embedded__summary-value {
  color: var(--portfolio-green);
  font-size: var(--portfolio-xl-font);
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 1.1;
  text-align: right;
}

.wallet-embedded__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  padding-top: 30px;
}
