<a class="asset-embedded" href={{cardstack-url content}} >
  <header>
    <h3 data-test-asset-embedded-title>{{content.title}}</h3>
    Savings
  </header>
  <section>
    <div>
      <span class="asset-embedded__value">2.1434</span>
      <span class="asset-embedded__unit" data-test-asset-embedded-unit>{{content.unit}}</span>
    </div>
    <div>--Chart--</div>
    <div>
      <span class="asset-embedded__value--usd">$8509.30</span>
      <span class="asset-embedded__unit--usd">USD</span>
    </div>
  </section>
  <footer>
    <div>1Hzk...iY36v</div>
    <div>Last active 3m ago</div>
  </footer>
</a>
