.transaction-isolated {
  padding-bottom: 75px;
}

.transaction-isolated__main {
  max-width: var(--portfolio-isolated-container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 25px 30px;
}

.portfolio-top-header + .transaction-isolated__main {
  padding-top: 50px;
}

.transaction-isolated__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  grid-gap: 30px;
}

.transaction-isolated__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.transaction-isolated__title {
  margin: 0;
  font-size: var(--portfolio-med-font);
  font-weight: 600;
  line-height: 1;
}

.transaction-isolated__time {
  color: var(--portfolio-light-purple);
  font-size: var(--portfolio-sm-font);
  font-weight: 600;
  letter-spacing: 0.2px;
}

.transaction-isolated__transaction-hash {
  position: relative;
  margin: 30px 0;
  border: solid 1px var(--portfolio-border-gray);
  border-radius: 5px;
  padding: 30px;
}

.transaction-isolated__hash-label {
  position: absolute;
  width: 160px;
  top: -10px;
  display: block;
  box-sizing: border-box;
  left: calc(50% - 80px);
  background-color: var(--portfolio-white);
  font-size: 13px;
  color: var(--portfolio-light-purple);
  letter-spacing: 0.24px;
  line-height: 16px;
  text-align: center;
}

.transaction-isolated__hash-value {
  text-decoration: none;
  display: block;
  color: var(--portfolio-black);
  font-size: var(--portfolio-med-font);
  font-weight: 600;
  letter-spacing: 0.7px;
  text-align: center;
  line-height: 19px;
  width: 450px;
  margin: 0 auto;
  word-wrap: break-word;
  word-break: break-all;
  background: url("/portfolio-common/images/arrow-right.svg") no-repeat;
  background-position: right;
  padding-right: 1.5em;
}

.transaction-isolated__amount {
  padding: 50px 0;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
}

.transaction-isolated__amount--value {
  margin-left: 40px;
  font-size: 54px;
}
.transaction-isolated__amount--currency {
  font-size: var(--portfolio-xl-font);
}
.transaction-isolated__amount-value--fiat {
  color: var(--portfolio-muted-gray);
}

.transaction-isolated__addresses {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 35px 0;
}

.transaction-isolated__address {
  max-width: 47.5%;
  border-top: 1px solid var(--portfolio-border-gray);
  padding-top: 25px;
}
.transaction-isolated__address > dt {
  padding-bottom: 10px;
  color: var(--portfolio-light-purple);
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.transaction-isolated__address > dd {
  margin: 0;
  font-size: var(--portfolio-med-font);
  font-weight: 600;
  letter-spacing: 0.7px;
  word-wrap: break-word;
  word-break: break-all;
}

.transaction-isolated__status {
  padding: 20px;
  border-radius: 5px;
  background-color: var(--portfolio-green);
  color: var(--portfolio-white);
  font-weight: 600;
  font-size: var(--portfolio-sm-font);
}
.transaction-isolated__status-icon {
  width: 14px;
  height: 10px;
  margin-left: 10px;
}

.transaction-isolated__details {
  margin: 0;
  padding: 35px 0 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.transaction-isolated__details > dl > dt {
  color: var(--portfolio-light-purple);
  letter-spacing: 0.2px;
  line-height: 2;
}
.transaction-isolated__details > dl > dd {
  margin: 0;
  padding-bottom: 20px;
  letter-spacing: 0.2px;
}

/*  Cards with white background  */
.transaction-isolated__section {
  margin-bottom: 25px;
  background-color: var(--portfolio-white);
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35);
}
.transaction-isolated__section--main {
  padding: 25px;
}
.transaction-isolated__section--padding {
  padding: 15px 25px 25px;
}

.transaction-isolated__section-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 10px 0;
  font-size: var(--portfolio-med-font);
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1;

  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px 21px;
}
.transaction-isolated__section-title.bg-icon--wallet {
  padding-left: 30px;
  background-image: url("/portfolio-common/images/wallet.svg")
}
.transaction-isolated__section-title.bg-icon--tag {
  padding-left: 30px;
  background-image: url("/portfolio-common/images/tag.svg")
}
.transaction-isolated__section-title.bg-icon--notes {
  padding-left: 30px;
  background-image: url("/portfolio-common/images/note.svg")
}

.transaction-isolated__section-link {
  display: inline-block;
  color: var(--portfolio-light-purple);
  text-decoration: none;
}
.transaction-isolated__section-link:hover,
.transaction-isolated__section-link:focus {
  color: var(--portfolio-dark-purple);
  cursor: pointer;
  user-select: none;
}

.transaction-isolated__section-button {
  display: block;
  width: 100%;
  padding: 15px 25px;
  background: none;
  border: none;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid var(--portfolio-border-gray);
  color: var(--portfolio-muted-gray);
  font-size: var(--portfolio-xs-font);
  line-height: 1.2;
  letter-spacing: 0.2px;
  text-align: left;
}
.transaction-isolated__section-button.bg-icon--add {
  background-image: url("/portfolio-common/images/add-icon.svg");
  background-position: 25px center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  text-indent: 25px;
}
.transaction-isolated__section-button:hover,
.transaction-isolated__section-button:focus {
  color: var(--portfolio-dark-purple);
  background-color: var(--portfolio-highlight-gray);
  cursor: pointer;
  user-select: none;
}


/*  Tags  */
.transaction-isolated__tags-list {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.transaction-isolated__tags-list > li {
  padding: 5px;
  background: none;
}
.transaction-isolated__tags-list > li > a {
  display: inline-block;
  padding: 6px 12px;
  background-color: var(--portfolio-light-gray);
  border: none;
  border-radius: 5px;
  color: var(--portfolio-light-purple);
  font-size: var(--portfolio-xs-font);
  text-decoration: none;
}
.transaction-isolated__tags-list > li > a:hover,
.transaction-isolated__tags-list > li > a:focus {
  color: var(--portfolio-dark-purple);
  cursor: pointer;
  user-select: none;
}


/*  Notes  */
.transaction-isolated__notes-list {
  margin: 0 0 0 25px;
  padding: 0;
  font-size: var(--portfolio-xs-font);
}
.transaction-isolated__notes-list > li + li {
  padding-top: 25px;
}
.transaction-isolated__notes-list p {
  margin: 0;
  color: var(--portfolio-muted-gray);
  font-size: var(--portfolio-sm-font);
  letter-spacing: 0.2px;
}
