.transaction-isolated {
  max-width: var(--portfolio-isolated-container-max-width);
  margin-left: auto;
  margin-right: auto;
}

.transaction-isolated__button-row {
  display: block;
  width: 100%;
  padding: 15px 25px;

  background-color: transparent;
  background-image: url("/assets/images/back-arrow.png");
  background-position: 25px center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  text-indent: 30px;

  color: var(--portfolio-muted-gray);
  border: 1px solid var(--portfolio-lighter-border-gray);
  border-radius: 5px;
  font-family: var(--portfolio-regular-text);
  font-size: var(--portfolio-med-font);
  letter-spacing: -0.1px;
  line-height: 1.1;
  text-align: left;
}
.transaction-isolated__button-row:hover,
.transaction-isolated__button-row:focus {
  outline: none;
  background-color: var(--portfolio-highlight-gray);
  color: var(--portfolio-dark-purple);
  cursor: pointer;
  user-select: none;
}

.transaction-isolated__title {
  margin: 0;
  padding: 25px 0;

  background-image: url("/assets/images/transaction.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  text-indent: 43px;

  font-family: var(--portfolio-regular-text);
  font-size: var(--portfolio-xxl-font);
  font-weight: normal;
  letter-spacing: -0.2px;
  line-height: 1;
}

.transaction-isolated__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  grid-gap: 30px;
}

.transaction-isolated__section-title {
  margin: 0 0 20px;

  background-position: left center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  text-indent: 35px;

  font-family: var(--portfolio-regular-text);
  font-size: var(--portfolio-med-font);
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.5;
}

/* data group with white background */
.transaction-isolated__group {
  margin-bottom: 40px;
  background-color: var(--portfolio-white);
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 35%);
}
.transaction-isolated__group-button {
  display: block;
  width: 100%;
  padding: 15px 25px;

  background-color: transparent;
  background-image: url("/assets/images/plus.svg");
  background-position: 25px center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  text-indent: 25px;
  text-align: left;

  border: none;
  border-top: 1px solid var(--portfolio-border-gray);
  border-radius: 0 0 5px 5px;

  font-family: var(--portfolio-regular-text);
  font-size: var(--portfolio-xs-font);
  line-height: 1.2;
  letter-spacing: 0.2px;
}
.transaction-isolated__group-button:hover,
.transaction-isolated__group-button:focus {
  outline: none;
  background-color: var(--portfolio-highlight-gray);
  color: var(--portfolio-dark-purple);
  cursor: pointer;
  user-select: none;
}

.transaction-isolated__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  background-color: var(--portfolio-green);
  border-radius: 5px 5px 0 0;
  color: var(--portfolio-white);
}
.transaction-isolated__header span {
  display: inline-block;
  padding: 10px;
  font-family: var(--portfolio-semibold-text);
  font-size: var(--portfolio-med-font);
  font-weight: 500;
  letter-spacing: 0.2px;
}
.transaction-isolated__header-icon {
  width: 18px;
  height: 12px;
}

.transaction-isolated__addresses {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 75%;
  min-width: 400px;
  margin: 0 auto;
  padding: 50px 25px;
  text-align: center;
}
.transaction-isolated__addresses > dt {
  color: var(--portfolio-light-purple);
  letter-spacing: 0.2px;
  line-height: 2;
  text-transform: uppercase;
}
.transaction-isolated__addresses > dd {
  margin: 0;
  font-family: var(--portfolio-semibold-text);
  font-size: var(--portfolio-med-font);
  font-weight: 500;
  letter-spacing: 0.7px;
  word-wrap: break-word;
  word-break: break-all;
}
.transaction-isolated__addresses-arrow {
  width: 40px;
  height: 40px;
  margin: 50px;
  background-image: url("/assets/images/arrow-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-color: var(--portfolio-purple-gray);
  border-radius: 50%;
}

.transaction-isolated__details {
  padding: 50px 25px;
  border-top: 1px solid var(--portfolio-border-gray);
}
.transaction-isolated__details > dt {
  color: var(--portfolio-light-purple);
  letter-spacing: 0.2px;
  line-height: 2;
}
.transaction-isolated__details > dd {
  margin: 0;
  letter-spacing: 0.2px;
}
.transaction-isolated__details > dd + dt {
  padding-top: 25px;
}

.transaction-isolated__tags-title {
  background-image: url("/assets/images/tag.png");
}
.transaction-isolated__tags-list {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 25px;
  list-style-type: none;
}
.transaction-isolated__tags-list > li {
  padding: 5px;
  background: none;
}
.transaction-isolated__tags-list > li > a {
  display: inline-block;
  padding: 6px 12px;
  background-color: var(--portfolio-light-gray);
  border: none;
  border-radius: 5px;
  color: var(--portfolio-light-purple);
  font-size: var(--portfolio-xs-font);
  text-decoration: none;
}
.transaction-isolated__tags-list > li > a:hover,
.transaction-isolated__tags-list > li > a:focus {
  outline: none;
  color: var(--portfolio-dark-purple);
}

.transaction-isolated__notes-title {
  background-image: url("/assets/images/notes.png");
}
.transaction-isolated__notes-list {
  margin: 0 0 0 25px;
  padding: 25px;
  font-size: var(--portfolio-xs-font);
}
.transaction-isolated__notes-list > li + li {
  padding-top: 25px;
}
.transaction-isolated__notes-list p {
  margin: 0;
  color: var(--portfolio-muted-gray);
  font-size: var(--portfolio-sm-font);
  letter-spacing: 0.2px;
}
