.portfolio-breadcrumbs {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px 30px;
}

.portfolio-breadcrumbs__list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.portfolio-breadcrumbs__list-item {
  display: block;
  margin-right: 15px;
  padding-left: 25px;
  background-image: url("/portfolio-common/images/chevron-right.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
}
.portfolio-breadcrumbs__list-item:first-child {
  padding-left: 0;
  background-image: none;
}

.portfolio-breadcrumbs__link {
  display: block;
  padding: 10px 25px 10px 20px;
  border: 1px solid var(--portfolio-darker-border-gray);
  border-radius: 5px;
  background-color: var(--portfolio-white);
  color: var(--portfolio-black);
  font-size: var(--portfolio-sm-font);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.3;
  text-decoration: none;
}
.portfolio-breadcrumbs__link:hover,
.portfolio-breadcrumbs__link:focus {
  background-color: var(--portfolio-highlight-gray);
  cursor: pointer;
  user-select: none;
}
.portfolio-breadcrumbs__link > span {
  display: inline-block;
  vertical-align: middle;
}

.portfolio-breadcrumbs__background {
  background: var(--portfolio-gradient);
  color: var(--portfolio-white);
  fill: var(--portfolio-white);
}
.portfolio-breadcrumbs__background:hover,
.portfolio-breadcrumbs__background:focus {
  filter: brightness(110%);
}

.portfolio-breadcrumbs__background.ether {
  background: var(--portfolio-ether-gradient);
}
.portfolio-breadcrumbs__background.bitcoin {
  background: var(--portfolio-bitcoin-gradient);
}
.portfolio-breadcrumbs__background.litecoin {
  background: var(--portfolio-litecoin-gradient);
}
.portfolio-breadcrumbs__background.zcash {
  background: var(--portfolio-zcash-gradient);
}

.portfolio-breadcrumbs__asset-type{
  margin-right: 25px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.portfolio-breadcrumbs__logo {
  display: inline-block;
  height: 22px;
  margin-right: 6px;
  vertical-align: middle;
}

.portfolio-breadcrumbs__logo--wallet {
  width: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
