:root {
  --portfolio-white: #fff;
  --portfolio-black: #000;
  --portfolio-off-white: #fafafa;
  --portfolio-highlight-gray: #f8f8f8;
  --portfolio-light-gray: #f2f2f4;
  --portfolio-border-gray: #e5e5e9;
  --portfolio-darker-border-gray: #ccccd5;
  --portfolio-border-highlight-gray: #7f7f7f;
  --portfolio-muted-gray: #757575;
  --portfolio-purple-gray: #9999ab;
  --portfolio-light-purple: #676680;
  --portfolio-purple: #343356;
  --portfolio-highlight-purple: #4d4c6d;
  --portfolio-dark-purple: #1b1942;
  --portfolio-deep-purple: #01002c;
  --portfolio-green: #3aa78f;
  --portfolio-red: #ff0404;
  --portfolio-red-failed: #db3d3d;

  --portfolio-gradient: linear-gradient(90deg, #5e8fff 0%, #9b49ff 100%), #7a6fff;
  --portfolio-bitcoin-gradient: linear-gradient(45deg, #f07a33 20%, #fad15c 100%), #f99838;
  --portfolio-ether-gradient: linear-gradient(45deg, #003bff 20%, #00ccae 100%), #003bff;
  --portfolio-litecoin-gradient: linear-gradient(45deg, #3a27b0 20%, #ac60d0 100%), #7545c0;
  --portfolio-zcash-gradient: linear-gradient(45deg, #881fa3 20%, #e30726 100%), #bc125d;
}
