:root {
  --portfolio-isolated-container-max-width: 960px;
}

body {
  background-color: var(--portfolio-light-gray);
  color: var(--portfolio-black);
  font-family: "Open Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: var(--portfolio-sm-font);
  line-height: 1.3;
  letter-spacing: 0;
  margin: 0;
}

button {
  font-family: inherit;
  font-size: var(--portfolio-sm-font);
}
